In [2]:
import numpy as np
import pandas as pd

In [4]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [ ]:
pd.Series(mylist)
pd.Series(myarr)
pd.Series(mydict)

In [16]:
seris = pd.Series(mydict)

seris.to_frame().reset_index().head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [17]:
#Combine ser1 and ser2 to form a dataframe.

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

pd.concat([ser1,ser2],axis=1).head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [20]:
# Give a name to the series ser calling it ‘alphabets’.

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = "alphabets"
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [ ]:
# How to get the items of series A not present in series B?

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]